.cadastrarEvento {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formulario input {
  width: 100px;
  height: 35px;
  border-radius: 3px;
  border: 2px solid blueviolet;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 300px;
  height: 100px;
  border: 2px solid blueviolet;
}

@media (min-width: 320px) {
  .formulario input {
    width: 300px;
  }
}

@media (min-width: 765px) {
  .formulario input {
    width: 500px;
  }

  textarea {
    width: 500px;
    height: 100px;
  }
}
