.listaEventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 100%;
  min-height: 100vh;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.containerTabela {
  width: 100%;
  overflow-x: auto;
  margin: 0;
}

.table {
  width: 100%;
  min-width: 400px;
}

.table th,
td {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.table th {
  background-color: rgb(141, 116, 82);
  color: white;
}

@media (min-width: 765px) {
  .containerTabela {
    width: 80%;
  }
}
