
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navegacao {
  min-height: 90vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: azure;
  padding: 30px 20px; 
}


.button {
  width: 100%;       
  max-width: 400px;  
  height: 45px;      
  background-color: rgb(43, 70, 224);
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease; 
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(127, 12, 2);
}


@media (min-width: 768px) {
  .navegacao {
    flex-direction: row; 
    justify-content: center;
    padding-top: 50px;
  }

  .button {
    width: 250px; 
  }
}